/* to remove spiiner for input box */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

.App {
  text-align: center;
}

.dashboard-box{
  /* can change later  */
  width: 400px;
}


.exchangeboard-box{
  border: 1px solid red;
  display: flex;
  flex-direction: column;  
  margin: 5px;
}

.exchangeboard-header{
  align-self: flex-start;
  font-weight: bold;
  padding: 5px;
  margin: 0px
}

.exchange-text{
  margin: 5px 0px;
  font-size: 14px;
  align-self: flex-start;
  font-weight: bold;
}

.cur-data-box {
  border: 1px solid black;
  height: 100px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.currency-select-left-box{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  width: 100px;
}

.currency-select{
  width: 50px;
}

.currency-select-right-box{
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  width: 100px;
  align-items: flex-end;
  justify-content: space-between;
}

.currency-input{
  text-align: right;
  width: 50px;
  margin: 10px;
}

.currency-balance{
  font-size: 10px;
  width: 100%;
}